.show {
  display: block;
  transition: 800 ms;
  opacity: 1;
}
.show.active {
  opacity: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
}
